body {
  background-color: rgb(14, 14, 14);
  color: rgb(181, 168, 145);
}
a {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
a:hover {
  box-shadow:
    rgba(255, 255, 0, 0.3) 0px 19px 38px,
    rgba(255, 255, 0, 0.22) 0px 15px 12px;
}

.active {
  border: 2px solid rgb(255, 255, 0);
}
.details-cancel {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 100px;
  color: rgb(181, 168, 145);
  border: 1px solid rgb(255, 255, 0);
}
.selectContainer span {
  color: rgb(255, 255, 0);
  padding-right: 4px;
}
.selectContainer select {
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(14, 14, 14);
  outline: 1px solid rgb(255, 255, 0);
  color: rgb(255, 255, 0);
}
.pagination {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid yellow;
}
.pagination button {
  padding: 10px;
  cursor: pointer;
  border-radius: 7px;
  color: #ff0;
  border: 1px solid yellow;
  background-color: #0000;
}
.pagination span {
  color: #ff0;
  padding: 4px;
}
